.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust as needed */
    gap: 10px; /* Adjust the gap between grid items */
}
.grid-item {
    position: relative;
    text-align: center;
}
.name {
    font-size: 6px;
    margin-bottom: 5px;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}
.image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: make images circular */
}